<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aulia Radityatama</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">        
    </head>

    <body class="body1">
        {% include 'navbar.html' %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <div class="centre-items">
                            <input type="submit" class="btn btn-primary" value="Tambahkan Matkul">
                        </div>
                    </form>
                </div>
                <div class="col">                       
                    {% for pelajaran in kuliah %}
                        <tr>
                            <a href="{% url 'profile' my_id=pelajaran.pk %}">{{ pelajaran.Matkul }}</a>
                            <div class="col-sm-4"></div>
                        </tr>
                    {% endfor %}                      
                </div>
            </div>
        </div>
    </body>
</html>