<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aulia Radityatama</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">        
    </head>

    <body class="body1">
        {% include 'navbar.html' %}                        
        <div class="container">
            <div class="row">               
                <div class="col">
                    <table class="table">                       
                            <tr>
                            <th scope="col">Mata Kuliah</th>
                            <th scope="col">Dosen</th>
                            <th scope="col">SKS</th>
                            <th scope="col">Deskripsi</th>
                            <th scope="col">Tahun Ajaran</th>
                            <th scope="col">Ruangan</th>
                            <th scope="col">Delete</th>
                            </tr>                        
                            {% for pelajaran in kuliah %}
                                <tr>
                                    <td>{{pelajaran.Matkul}}</td>
                                    <td>{{pelajaran.Dosen}}</td>
                                    <td>{{pelajaran.Sks}}</td>
                                    <td>{{pelajaran.Deskripsi}}</td>
                                    <td>{{pelajaran.TahunAjaran}}</td>
                                    <td>{{pelajaran.Ruangan}}</td>
                                    <td><a href="{% url 'Delete' pk=pelajaran.pk %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button></a></td>
                                </tr>
                            {% endfor %}                       
                    </table>
                </div>
        </div>
        </div>
    </body>
</html>